<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-title-fragment">
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/template.css"/>

</head>
<body>
    <nav th:fragment="header" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class ="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Isi Irs</a>
                </li>
                <li class="nav-item">
                    <a id="logout" align="right" class="nav-link" href="#">Logout</a>
                </li>
            </ul>


        </div>
    </nav>

    <div th:fragment="footer">
        <footer class="footer fixed-bottom bg-dark">
                <p class="text-center mt-3 mb-3">
                    Copyright @Kelompok G4 - Tugas Akhir APAP
                </p>
        </footer>
    </div>
</body>
</html>