<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-title-fragment">
    <title th:text="${page_title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/template.css"/>

</head>
<body>
    <nav th:fragment="header" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark box-shadow">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class ="nav-item">
                    <a class="nav-link" th:if="${#httpServletRequest.isUserInRole('MAHASISWA')}" th:href="'/mahasiswa/ringkasan/' + ${npm}">Home</a>
                    <a class="nav-link" th:if="${#httpServletRequest.isUserInRole('SEKRETARIAT')}" href="/admin">Home</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" th:if="${#httpServletRequest.isUserInRole('MAHASISWA')}" href="/irs">Isi Irs</a>
                    <a class="nav-link" th:if="${#httpServletRequest.isUserInRole('SEKRETARIAT')}" href="/admin/addmahasiswa">Add Mahasiswa</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" th:if="${#httpServletRequest.isUserInRole('SEKRETARIAT')}" href="/admin/viewallmahasiswa">Lihat Daftar Mahasiswa</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right mr-2">
                <li class="nav-item">
                    <a class="nav-link" th:text=" 'Welcome, ' + ${#httpServletRequest.remoteUser}"></a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                <input class="btn btn-danger" type="submit" value="logout"/>
            </form>
        </div>
    </nav>

    <div th:fragment="footer">
        <footer class="footer">
            <div class="container">
                <p class="text-center mt-3 mb-3">
                    Copyright @Kelompok G4 - Tugas Akhir APAP
                </p>
            </div>
        </footer>
    </div>
</body>
</html>