<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">
    <title>Halaman Tidak Ditemukan</title>
</head>
<body>
<div id="main-container" class="container mt-6">
    <div id="content-container" class="container col-md-5 bg-white">

        <div class="container align-center">
            <h1>Halaman yang Anda Tuju Tidak Ditemukan</h1>
            <a href="http://localhost:8004/">HOME</a>
        </div>
    </div>
</div>

<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>