body {
    background-image: url("../img/UI9_9345.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

#logout {
    position:fixed;
    right:10px;
}

#main-container {
    margin-top: 8em;
    display: flex;
    align-items: center;
}

#content-container{
    padding: 1em;
    box-shadow: 2px 2px 1px black;
}

.footer {
    background-color: #5c5552 !important;
}

.footer p {
    color: white;
}
