body {
    background-image: url("../img/UI9_9345.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.navbar {
    box-shadow:  2px 2px 4px grey;
}

.set-right{
    display: inline;
    position:fixed;
    right:10px;
}

#admin-container{
    margin-top: 8em;
}

#main-container {
    margin-top: 8em;
    display: flex;
    align-items: center;
}

#content-container{
    padding: 1em;
    box-shadow: 2px 2px 4px black;
}

.footer {
    background-color: #5c5552 !important;
    bottom: -100px;
    height: 40px;
    position: absolute;
    width: 100%;
}

.footer p {
    color: white;
}
