<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">
</head>
<body>
<div th:replace="fragments/fragment :: header"></div>

<div id="main-container" class="container mt-6">
    <div id="content-container" class="container col-md-9 bg-white">
        <div class="container">
            <h3><strong>Add Mahasiswa</strong></h3>
            <h5 th:if="${invalidity != null}" th:text="${invalidity}" class="text-danger">Ini notifikasinya</h5>
            <hr/>
            <br/>
        </div>


        <form action="/admin/addmahasiswa/submit" method="get">
            <div class="container col-md-6">
                <div class="form-group">
                    <label>Nama Mahasiswa: </label>
                    <input class="form-control" type="text" name="nama"/>
                </div>
                <div class="form-group">
                    <label>NPM Mahasiswa: </label>
                    <input class="form-control" type="text" name="npm"/>
                </div>
                <div class="form-group">
                    <label>Angkatan: </label>
                    <input class="form-control" type="text" name="angkatan"/>
                </div>
                <div class="form-group">
                    <label>Universitas: </label>
                    <select class="form-control custom-select" type="text" name="univ">
                        <div th:each="univ,iterationStatus: ${univs}">
                            <option th:value="${univ.namaUniv}" th:text="${univ.namaUniv}">
                            </option>
                        </div>
                    </select>
                </div>
                <div class="form-group">
                    <label>Fakultas: </label>
                    <input class="form-control" type="text" name="fakultas"/>
                </div>
            </div>
            <div class="container col-md-6">
                <div class="form-group">
                    <label>Program Studi: </label>
                    <input class="form-control" type="text" name="prodi"/>
                </div>
                <div class="form-group">
                    <label>Username: </label>
                    <input class="form-control" type="text" name="username"/>
                </div>
                <div class="form-group">
                    <label>Password: </label>
                    <input class="form-control" type="text" name="password"/>
                </div>
                <button type="submit" class="w-25 btn btn-primary" name="action" value="add">Submit</button>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>