<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">
</head>
<body>
    <div th:replace="fragments/fragment :: header"></div>
    <div id="admin-container" class="container mt-6">
        <h4><strong>Selamat Datang di Sistem Akademik Mahasiswa</strong></h4>
        <hr/>
        <br/>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form action="#" method="get">
                        <div class="row">
                            <label for="nik"><strong>Masukan NPM untuk mencari mahasswa</strong></label>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <input type="text" name="npm" />
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary">Lihat</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>