<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">
</head>
<body>
    <div th:replace="fragments/fragment :: header"></div>

    <div id="main-container" class="container mt-6">
        <div align="center" id="content-container" class="container col-md-9 bg-white">
            <ul class="nav nav-tabs">
                <li><a href="#">Ringkasan</a></li>
                <li><a href="#">Riwayat</a></li>
                <li class="active"><a href="#">Lihat IRS</a></li>
            </ul>
            <br/>
            <div class="container">
                <div class="row">
                    <div>
                        <p>Ringkasan Mahasiswa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/fragment :: footer"></div>
</body>
</html>