<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">


</head>
<script>
    $(document).ready(function(){
        $("button").click(function () {
            var idKelas = $(this).attr("id");

            $.ajax({
                url: "test.html",
                context: document.body
            }).done(function() {
                //update total SKS and remove table row
                var sks = $(this).parent().parent().children().eq(5).text();
                var totalSKS = $("#totalSKS").text();
                var remainsSKS = totalSKS - sks;
                $("#totalSKS").html(remainsSKS);
                $(this).parent().parent().remove();
            });
        });

    });
</script>
<body>
<div th:replace="fragments/fragment :: header"></div>

<div id="main-container" class="container mt-6">
    <div id="content-container" class="container col-md-9 bg-white">
        <ul class="nav nav-tabs">
            <li><a th:href="'/mahasiswa/ringkasan/' + ${npm}">Ringkasan</a></li>
            <li class="active"><a href="#">Riwayat</a></li>
            <li><a th:href="'/mahasiswa/irs/' + ${npm}">Lihat IRS</a></li>
        </ul>
        <br/>

        <h2>Riwayat Mahasiswa</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Kode MK</th>
                <th>Kurikulum</th>
                <th>Nama MK</th>
                <th>Kelas</th>
                <th>SKS</th>
                <th>Nilai Akhir</th>
                <th>Nilai Huruf</th>
            </tr>
        </thead>

        <tbody>
            <div th:each="riwayat : *{riwayats}" th:object="${riwayat}">

                <tr>
                    <td colspan="8">
                        <h2 th:text="|Tahun Ajaran *{tahunAjar} - Term *{term}|"></h2>
                    </td>
                </tr>

                <tr th:each="kelas, state : *{kelases}" th:object="${kelas}">

                    <td>
                        <span th:text="${state.index + 1}"></span>
                    </td>

                    <td>
                        <span th:text="*{kodeMK}"></span>
                    </td>
                    <td>
                        <span th:text="*{kurikulum}"></span>
                    </td>
                    <td>
                        <span th:text="*{namaMK}"></span>
                    </td>
                    <td>
                        <span th:text="*{namaKelas}"></span>
                    </td>
                    <td>
                        <span th:text="*{sks}"></span>
                    </td>
                    <td>
                        <span th:text="*{nilaiAkhir}"></span>
                    </td>
                    <td>
                        <span th:text="*{nilaiHuruf}"></span>
                    </td>
                </tr>

        </div>
        </tbody>
    </table>
    </div>
</div>

<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>