<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">
    <title>Lihat IRS</title>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</head>
<body th:object="${irs}">
<div th:replace="fragments/fragment :: header"></div>

<div id="main-container" class="container mt-6">
<div id="content-container" class="container col-md-9 bg-white">

    <ul class="nav nav-tabs">
        <li><a th:href="'/mahasiswa/ringkasan/' + ${npm}">Ringkasan</a></li>
        <li><a th:href="'/mahasiswa/riwayat/' + ${npm}">Riwayat</a></li>
        <li class="active"><a href="#">Lihat IRS</a></li>
    </ul>
    <br/>

    <h2 th:text="|(*{mahasiswa.npm}) *{mahasiswa.nama}, Priode *{riwayat.tahunAjar} term *{riwayat.term}|"></h2>

    <h2>Mata Kuliah yang Dipilih</h2>
    <div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No.</th>
                <th>Kode MK</th>
                <th>Kurikulum</th>
                <th>Nama MK</th>
                <th>Kelas</th>
                <th>SKS</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="kelas, state : *{riwayat.kelases}" th:object="${kelas}">
                <td th:text="${state.index + 1}"></td>
                <td th:text="*{kodeMK}"></td>
                <td th:text="*{kurikulum}"></td>
                <td th:text="*{namaMK}"></td>
                <td th:text="*{namaKelas}"></td>
                <td th:text="*{sks}"></td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>Total SKS</td>
                <td id="totalSKS" th:text="*{totalSKS}"></td>
            </tr>
            </tbody>
        </table>
    </div>
            <div class="col-md-4">

            <div class="panel panel-info">
                <div class="panel-heading">
                <h5>SKS Maksimum:</h5>
                </div>
                <div class="panel-body">
                <h5 th:text="*{sksMaksimum}"></h5>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                <h5>IP Terakhir:</h5>
                </div>
                <div class="panel-body">
                <h5 th:text="*{ipTerakhir}"></h5>
                </div>
            </div>
            </div>

        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
            <h4>Pengecekan IRS</h4>
            </div>
            <div class="panel-body" th:each="currentError : *{error}" th:object="${currentError}">
                <h5 th:text="${currentError}"></h5>
            </div>
        </div>

</div>
</div>

<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>