<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">


</head>
<script>
    $(document).ready(function(){
        $("button").click(function () {
            var idKelas = $(this).attr("id");

            $.ajax({
                url: "test.html",
                context: document.body
            }).done(function() {
                //update total SKS and remove table row
                var sks = $(this).parent().parent().children().eq(5).text();
                var totalSKS = $("#totalSKS").text();
                var remainsSKS = totalSKS - sks;
                $("#totalSKS").html(remainsSKS);
                $(this).parent().parent().remove();
            });
        });

    });
</script>

<body th:object="${dashboard}">
<div th:replace="fragments/fragment :: header"></div>

<div id="main-container" class="container mt-6">
    <div align="center" id="content-container" class="container col-md-9 bg-white">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Ringkasan</a></li>
            <li><a href="#">Riwayat</a></li>
            <li><a href="#">Lihat IRS</a></li>
        </ul>
        <br/>
        
        <h2>Dashboard Mahasiswa</h2>

    <div>
        <table th:object="${dashboard.mahasiswa}" class="table table-hover">
            <tr>
                <td>NPM</td>
                <td><span th:text="*{npm}"></span></td>
            </tr>
            <tr>
                <td>Nama</td>
                <td><span th:text="*{nama}"></span></td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td><span th:text="*{angkatan}"></span></td>
            </tr>
            <tr>
                <td>Universitas</td>
                <td><span th:text="*{namaUniv}"></span></td>
            </tr>
            <tr>
                <td>Fakultas</td>
                <td><span th:text="*{namaFakultas}"></span></td>
            </tr>
            <tr>
                <td>Program Studi</td>
                <td><span th:text="*{namaProdi}"></span></td>
            </tr>
            <tr>
                <td>SKS Diperoleh</td>
                <td><span th:text="*{sksDiperoleh}"></span></td>
            </tr>
            <tr>
                <td>Total SKS Lulus</td>
                <td><span th:text="*{sksLulus}"></span></td>
            </tr>
        </table>
    </div>

    <div>
        <div>
            <h2>Status Akademis: </h2>
        </div>
        <div>
            <span th:text="*{statusAkademik}"></span>
        </div>
        <div>
            <h2>IPK: </h2>
        </div>
        <div>
            <span th:text="*{ipk}"></span>
        </div>
    </div>

    <div>
        <h3>Statistik Nilai</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tahun</th>
                    <th>Term</th>
                    <th>Total Mata Kuliah</th>
                    <th>SKS Diambil</th>
                    <th>SKS Lulus</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="statistikNilai : *{statistikNilais}" th:object="${statistikNilai}">
                    <td><span th:text="*{tahunAjaran}"></span></td>
                    <td><span th:text="*{term}"></span></td>
                    <td><span th:text="*{totalMK}"></span></td>
                    <td><span th:text="*{totalSKS}"></span></td>
                    <td><span th:text="*{totalSKSLulus}"></span></td>
                    <td><span th:text="*{ip}"></span></td>
                </tr>

            </tbody>
        </table>
    </div>
    </div>
</div>
<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>