<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">


</head>

<body th:object="${dashboard}">
<div th:replace="fragments/fragment :: header"></div>

<div id="main-container" class="container mt-6">
    <div align="center" id="content-container" class="container col-md-9 bg-white">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Ringkasan</a></li>
            <li><a th:href="'/mahasiswa/riwayat/' + ${dashboard.mahasiswa.npm}">Riwayat</a></li>
            <li><a th:href="'/mahasiswa/irs/' + ${dashboard.mahasiswa.npm}">Lihat IRS</a></li>
        </ul>
        <br/>

        <h2>Dashboard Mahasiswa</h2>

    <div align="center" class="row">
    <div class="col-md-8">
        <table th:object="${dashboard.mahasiswa}" class="table table-hover">
            <tr>
                <td>NPM</td>
                <td><span th:text="*{npm}"></span></td>
            </tr>
            <tr>
                <td>Nama</td>
                <td><span th:text="*{nama}"></span></td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td><span th:text="*{angkatan}"></span></td>
            </tr>
            <tr>
                <td>Universitas</td>
                <td><span th:text="*{namaUniv}"></span></td>
            </tr>
            <tr>
                <td>Fakultas</td>
                <td><span th:text="*{namaFakultas}"></span></td>
            </tr>
            <tr>
                <td>Program Studi</td>
                <td><span th:text="*{namaProdi}"></span></td>
            </tr>
            <tr>
                <td>SKS Diperoleh</td>
                <td><span th:text="*{sksDiperoleh}"></span></td>
            </tr>
            <tr>
                <td>Total SKS Lulus</td>
                <td><span th:text="*{sksLulus}"></span></td>
            </tr>
        </table>
    </div>


            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Status Akademis</h4>
                    </div>
                    <div class="panel-body">
                        <h1 th:text="*{statusAkademik}"></h1>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>IPK</h4>
                    </div>
                    <div class="panel-body">
                        <h1 th:text="*{ipk}"></h1>
                    </div>
                </div>
            </div>

        </div>
    <div>
        <h3>Statistik Nilai</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tahun</th>
                    <th>Term</th>
                    <th>Total Mata Kuliah</th>
                    <th>SKS Diambil</th>
                    <th>SKS Lulus</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="statistikNilai : *{statistikNilais}" th:object="${statistikNilai}">
                    <td><span th:text="*{tahunAjaran}"></span></td>
                    <td><span th:text="*{term}"></span></td>
                    <td><span th:text="*{totalMK}"></span></td>
                    <td><span th:text="*{totalSKS}"></span></td>
                    <td><span th:text="*{totalSKSLulus}"></span></td>
                    <td><span th:text="*{ip}"></span></td>
                </tr>

            </tbody>
        </table>
    </div>
    </div>
</div>
<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>