<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">

    <title>ISI IRS</title>
   s
</head>
<script>
    $(document).ready(function(){
        $("input[type=radio]").click(function () {
            var checked = $(this).attr('checked');
            if(checked){
                $(this).attr('checked', false);
            }else{
                $(this).attr('checked', true);
            }
        });
    });
</script>

<body  th:object="${jadwal}">
<div th:replace="fragments/fragment :: header"></div>
<div id="main-container" class="container mt-6">
<div id="content-container" class="container col-md-9 bg-white">
    <div class="container mt-3">
    <h1 th:text="|Daftar Mata Kuliah yang Ditawarkan Periode ${jadwal.term.tahunAjar} term ${jadwal.term.nomor}|"></h1>


    <form action="#" th:action="@{/irs}" th:method="post">
        <div th:object="${jadwal.term}" style="display:none;">
            <input th:type="text" th:field="*{tahunAjar}" th:value="*{tahunAjar}"></input>
            <input th:type="text" th:field="*{nomor}" th:value="*{nomor}"></input>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Mata Kuliah</th>
                <th>Kap.</th>
                <th>Mhs.</th>
                <th>Waktu</th>
                <th>Ruang</th>
                <th>Pengajar</th>
            </tr>
            </thead>

            <tbody>
            <div class="container col-md-12">
                <div th:each="mataKuliah, stat : *{matkul}" th:object="${mataKuliah}">

                    <tr>
                        <td colspan="7">
                            <p th:text="*{kodeMK} + ' ' + *{nama} + ' (' +*{sks} + ' SKS); Kurikulum ' + *{kurikulum}"></p>
                        </td>
                    </tr>

                    <tr th:each="currentKelas, state : *{kelas}" th:object="${currentKelas}">

                        <div th:object="${jadwal.matkul[__${stat.index}__].kelas[__${state.index}__]}"
                             style="display:none;">
                            <input th:type="text" th:field="*{kodeMK}"></input>
                            <input th:type="text" th:field="*{kurikulum}"></input>
                            <input th:type="text" th:field="*{idKelas}"></input>
                            <input th:type="text" th:field="*{namaMK}"></input>
                            <input th:type="text" th:field="*{namaKelas}"></input>
                            <input th:type="text" th:field="*{sks}"></input>
                        </div>

                        <td>
                            <input type="radio"
                                   th:value="${state.index}"
                                   th:field="${jadwal.matkul[__${stat.index}__].selectedKelasIdx}"></input>
                        </td>
                        <td>
                            <span th:text="*{namaKelas}"></span>
                        </td>
                        <td>
                            <span th:text="*{kapasitas}"></span>
                        </td>
                        <td>
                            <span th:text="*{mahasiswaSaatIni}"></span>
                        </td>
                        <td>
                            <div th:each="waktuBelajar : *{waktu}" th:object="${waktuBelajar}">
                                <span th:text="*{hari} + ', ' + *{jamMulai} + '-' + *{jamAkhir}"></span>
                            </div>
                        </td>
                        <td>
                            <div th:each="waktuBelajar : *{waktu}" th:object="${waktuBelajar}" >
                                <span th:text="*{ruangan}"></span><br></br>
                            </div>
                        </td>
                        <td>
                            <div th:each="waktuBelajar : *{waktu}" th:object="${waktuBelajar}">
                                <span th:each="dosen : *{dosenPengajars}"  th:object="${dosen}">
                                    <span th:text="*{nama} "></span>
                                </span><br></br>
                            </div>
                        </td>
                    </tr>

                </div>
            </div>
            </tbody>
        </table>
        <div class="container">
            <center> <button type="submit" class="btn btn-lg btn-primary btn-block">Save</button></center>
        </div>
    </form>
    </div>
</div>
</div>
<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>