<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">
</head>
<body>
    <div th:replace="fragments/fragment :: header"></div>

    <div id="main-container" class="container mt-6">
        <div id="content-container" class="container col-md-9 bg-white">
            <h3><strong>Daftar Mahasiswa yang Tersedia</strong></h3>
            <hr/>
            <br/>
            <div class="container">
                <div class="row">
                    <div>
                        <p>Daftar Mahasiswa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/fragment :: footer"></div>
</body>
</html>